body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

header {
background: url('images/gpi.jpg') no-repeat center center/cover;
  color: #fff;
  padding: 10px 20px;
  color: #fff;
  padding: 15px;
  text-align: center;
}


nav {
  background: #d1d9e0;
  padding: 10px;
  text-align-last: left;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 25%;
}

.auth-btn {
  background: #27ae60;
  color: white;
  margin-left: 10px;
}


.auth-btn:hover {
  background: #219150;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #2c3e50;
  color: white;
}

.hidden {
  display: none;
}

select {
  padding: 8px;
  margin: 10px 0;
}

/* Notice Board */

/* ===== IMAGE SLIDER ===== */

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
  animation: smoothSlide 16s infinite;
}



/* ===== CENTER SLIDER ===== */

.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Main Slider Box */
.slider {
  width: 70%;
  max-width: 1000px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  position: relative;
}

/* Slide Images */
.slides {
  display: flex;
  width: 400%;
  height: 100%;
  animation: smoothSlide 16s infinite;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1 0 100%;
}

/* Animation */
@keyframes smoothSlide {

  0%,20% {
    transform: translateX(0%);
  }

  25%,45% {
    transform: translateX(-100%);
  }

  50%,70% {
    transform: translateX(-200%);
  }

  75%,95% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Mobile */
@media (max-width: 768px) {

  .slider {
    width: 95%;
    height: 220px;
  }

}

/* Google Map */

.map-container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.map-container iframe {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}